global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

remote_write:
  - url: "http://host.docker.internal:8888/api/v1/write"
    metadata_config:
      send_interval: 10s

